<div class="background_container">
<%= link_to(trips_path, :method => :post) do %>
	<div class="background"><div id="start">Start Your Vacation</div></div>
<% end %>
</div>
<div class="text">
<p>five seconds is long enough to dream. . .</p>
</div>