<style>
	img {
		height: 14px;
		width: 14px;
		border: solid 2px white;
		border-radius: 5px;	
	}
	ul {
		list-style-type: none;
	}
</style>

<ul>
<% @trips.each do |trip| %>
<% if trip.stops.count > 0 %>
<li><p><%= link_to trip.created_at.to_date, trip %> | By: <%= trip.user.email %> <%= image_tag(trip.user.gravatar_for, height: 6) %></p></li>
<% end %>
<% end %>
</ul>