<style>
	img {
		height: 25px;
		width: 25px;
		border: solid 2px white;
		border-radius: 5px;	
	}
	ul {
		list-style-type: none;
	}
</style>

<ul>
<% @trips.each do |trip| %>
<% if trip.stops.count > 0 %>
<% link = "#{trip.created_at.to_date} | By: #{trip.user.email}" %>
<li><p><%= link_to link, trip %> <%= image_tag(trip.user.gravatar_for) %>
</p></li>
<% end %>
<% end %>
</ul>